{% extends 'base.html.twig' %}

{% block title %}Participation{% endblock %}

{% block body %}
    <h1>Participation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ participation.id }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ participation.amount }}</td>
            </tr>
            <tr>
                <th>Participant_date</th>
                <td>{{ participation.participantDate ? participation.participantDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_participation_index') }}">back to list</a>

    <a href="{{ path('app_participation_edit', {'id': participation.id}) }}">edit</a>

    <a href="{{ path('app_participation_new', { id: project.id }) }}" class="btn btn-primary">
    Faire un don </a>


    {{ include('participation/_delete_form.html.twig') }}
{% endblock %}
